LinearRegression() of scikit Learn uses Ordinary Least Square method internally.

We are going to study the ordinary least square method here.

In [45]:
import numpy as np
import pandas as pd

In [46]:
df=pd.read_csv('placements.csv')
df

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [47]:
X=df.iloc[:,0:-1].values # .values converts to array
y=df.iloc[:,-1].values

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [49]:
class MeraLR:          # This is exactly the LinearRegression() class of SkLearn
    
    def __init__(self):
        self.m=None
        self.b=None
        
    def fit(self,X_train,y_train):
        
        num=0
        den=0
        for i in range(X_train.shape[0]):
            
            num=num+(X_train[i]-X_train.mean())*(y_train[i]-y_train.mean())
            den=den+(X_train[i]-X_train.mean())**2
        
        self.m=num/den
        self.b=y_train.mean()-(self.m* X_train.mean())
        
        print(self.m)
        print(self.b)
            
    
    def predict(self,X_test):
        return self.m * X_test + self.b

In [50]:
lr=MeraLR() #object initiation from class created by us

In [51]:
lr.fit(X_train,y_train)

[0.39578479 0.07193779]
[-2.26311337 -0.02267914]

In [52]:
#lr=MeraLR()

In [56]:
print(lr.predict(X_test[0]))

[0.74485102 0.55857823]

In [54]:
lr.predict(X_test[2])

array([0.16304738, 0.43988087])

In [55]:
X_test

array([[7.6 , 8.08],
       [7.36, 7.15],
       [6.13, 6.43],
       [8.22, 6.18],
       [8.04, 7.64],
       [6.05, 7.13],
       [8.27, 8.86],
       [5.51, 6.15],
       [7.46, 7.67],
       [8.5 , 5.09],
       [6.09, 6.61],
       [5.43, 6.18],
       [9.4 , 5.5 ],
       [7.51, 6.25],
       [8.14, 6.52],
       [6.53, 7.64],
       [6.88, 7.27],
       [6.19, 7.3 ],
       [6.89, 7.96],
       [5.27, 7.28]])