# Iterating through the dictionary

In [6]:
d={1:'sky',2:'earth',3:'water',4:'Forest'}
#printing the keys
for k in d:
    print(k)

1
2
3
4

In [8]:
#printing the values
for k in d:
    print(d[k]) #k=[1,2,3,4] as obtained earlier. #d[1]=sky, d[2]=earth and so on

sky
earth
water
Forest

In [9]:
#print both keys and values
for k in d:
    print(k,'-->',d[k])

1 --> sky
2 --> earth
3 --> water
4 --> Forest

In [10]:
e={1:'Books',2:'Copy',3:'Pen',4:'Pencil'}
e

{1: 'Books', 2: 'Copy', 3: 'Pen', 4: 'Pencil'}

In [12]:
for i in e:
    print(i,'-->',e[i])

1 --> Books
2 --> Copy
3 --> Pen
4 --> Pencil

# IF condition

In [15]:
marks=72
if marks>50:
    print('good')
else:                            #take care of indentation
    print('average')

good

In [16]:
marks=10
if marks>50:
    print('good')
else:                            #take care of indentation
    print('average')

average

In [23]:
fact=2
num=12
if num%fact==0:
    print('even')
else:
    print('odd')
print('end')  #not a part of if or else statement. Hence it will always be executed

even
end

In [22]:
#giving user input(dynamic value)
fact=2
num=int(input('enter the number : ')) #type casting of string to integer. Because python takes input in string format by default.
if num%fact==0:
    print(num,'is even')
else:
    print(num,'is odd')

enter the number : 19
19 is odd

In [24]:
for i in ['apple','mango','oranges','banana']:
    print(i)

apple
mango
oranges
banana

# Break statement

Break statement finishes the loop as soon as condition is satisfied. The control passes on to the statement outside the loop

In [29]:
for i in ['apple','mango','oranges','banana']:
    if i=='oranges':
        break
    print(i)

apple
mango

In [30]:
for i in ['apple','mango','oranges','banana']:
    if i=='oranges':
        break
print(i)

oranges

# Continue statement

Continue statement skips and moves on to the next iteration.

In [32]:
for i in ['apple','mango','oranges','banana']:
    if i=='oranges':
        continue
    print(i)

apple
mango
banana

In [33]:
for i in ['apple','mango','oranges','banana']:
    if i=='oranges':
        continue
print(i)

banana

# List comprehension

Creating a list from another list is known as list comprehension.
Storing the components of a list in another list.
Benefit of list comprehension is that we can give a certain condition and fetch out particular datas in form of another list.

In [37]:
var=[d for d in [1,2,3,4,5]]
var

[1, 2, 3, 4, 5]

In [39]:
list1=[1,2,3,4,5]
m=[d for d in list1]
m

[1, 2, 3, 4, 5]

In [40]:
m=[d for d in range(20)]
m

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [41]:
#store the even numbers only using list comprehension
data=range(1,9)
m=[d for d in data if d%2==0]
print(m)

[2, 4, 6, 8]

In [42]:
#store the odd numbers only using list comprehension
data=range(1,9)
m=[d for d in data if d%2==1]
print(m)

[1, 3, 5, 7]

In [43]:
m=[d for d in range(0,20,5)]
m

[0, 5, 10, 15]

# String functions

In [44]:
word='python'
word.upper()

'PYTHON'

In [45]:
word='DATA'
word.lower()

'data'

In [46]:
word1='Data Science'
word1.swapcase()

'dATA sCIENCE'

In [49]:
#split() splits the strings as spaces between them and create new strings from them. 
word2='Data Science'
list2=word2.split()
list2

['Data', 'Science']

In [50]:
word='python'
word.capitalize()

'Python'

In [53]:
word2='string functions in python'
word2.title()   #capitalizes the first letters of each word of the sentence.

'String Functions In Python'

In [51]:
word3='python'
word3.islower()

True

In [52]:
word3='Python'
word3.islower()

False

In [1]:
"python".split()

['python']