# Sets

Sets are also named collection of values.
Sets donot follow indexing.
Random data organization occurs in sets.
No duplicates are allowed.
Immutable(Data cannot be changed after the creation of the set.
Enclosed in {} but doesnot have any key-value pair as dictionaries.

In [1]:
x={22,33,56,78,90}
x

{22, 33, 56, 78, 90}

In [2]:
y=set([33,44,55,66,77])   #List getting converted into set
y

{33, 44, 55, 66, 77}

In [3]:
#no duplication allowed
x={22,33,56,78,90,90,22}
x

{22, 33, 56, 78, 90}

In [4]:
day={'Monday','Tuesday','Thursday','Wednesday'}
day

{'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

In [6]:
#when adding something to a set, the new data can get added anywhere as there is no indexing.
day.add('Sunday')
day

{'Monday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [7]:
#No indexing is there in sets
day[1]

TypeError: 'set' object is not subscriptable

In [8]:
#pop() deletes data from anywhere as there is no indexing
day.pop()
day

{'Monday', 'Sunday', 'Tuesday', 'Wednesday'}

In [9]:
#deleting all data from the set
day.clear()
day

set()

In [10]:
del day

In [11]:
day

NameError: name 'day' is not defined

Sets over

# Loops in python

Loops are continuous iteration of particular statements.
Loops are of two types:-
    1. While loop    2. For loop

# While loop

Three things necessary for while loop are:-
1. initialization
2. condition
3. increment

In [13]:
i=0                   #initilization
while(i<5):           #(i<5) is the condition. #while is the keyword
    print (i)
    i=i+1             #increment

0
1
2
3
4

Take care of indentation when writing a loop.

In [19]:
#suppose we need the output in horizontal manner
k=0
while(k<10):
    print(k,end=" ")
    k=k+2

0 2 4 6 8

In [22]:
s=0

while(s<30):
    print("s=",s)
    s=s+3

s= 0
s= 3
s= 6
s= 9
s= 12
s= 15
s= 18
s= 21
s= 24
s= 27

In [23]:
s=0

while(s<30):
    print("s=",s,end=" ")
    s=s+3

s= 0 s= 3 s= 6 s= 9 s= 12 s= 15 s= 18 s= 21 s= 24 s= 27

In [24]:
#importance of proper indentation
k=1

while(k<10):
    print("k=",k)
    k=k+1
    print("end of loop")

k= 1
end of loop
k= 2
end of loop
k= 3
end of loop
k= 4
end of loop
k= 5
end of loop
k= 6
end of loop
k= 7
end of loop
k= 8
end of loop
k= 9
end of loop

In [25]:
k=1

while(k<10):
    print("k=",k)
    k=k+1
print("end of loop")    #not a part of while loop. So it is executed after the loop ends.

k= 1
k= 2
k= 3
k= 4
k= 5
k= 6
k= 7
k= 8
k= 9
end of loop

In [26]:
k=1

while(k<10):
    print("k=",k)
    print("Rzunning again")
    k=k+1
    
    
print("end of loop")

k= 1
Rzunning again
k= 2
Rzunning again
k= 3
Rzunning again
k= 4
Rzunning again
k= 5
Rzunning again
k= 6
Rzunning again
k= 7
Rzunning again
k= 8
Rzunning again
k= 9
Rzunning again
end of loop

# For Loop

In for loop:-
1. No increment is required. Automatic increment occurs here.

In [1]:
for i in [1,2,3]:
    print(i)

1
2
3

In [2]:
for i in ['A','B','C','D']:
    print (i)

A
B
C
D

In [4]:
list1=[22,33,44,55,78,90,45,25,48]

for p in list1:
    print(p)

22
33
44
55
78
90
45
25
48

In [8]:
list1=[22,33,44,55,78,90,45,25,48]

for p in list1:
    print('numbers=',p,end="  ")

numbers= 22  numbers= 33  numbers= 44  numbers= 55  numbers= 78  numbers= 90  numbers= 45  numbers= 25  numbers= 48

# Range

Range is an inbuilt function in python which gives a sequence of integers.

In [11]:
range(5)

range(0, 5)

In [14]:
#We need to convert the range into a list to get the values
a=list(range(5)) #output starts with 0 and 5 is not included in the output
a

[0, 1, 2, 3, 4]

In [16]:
b=range(10)
b_list=list(b) #We are converting the range into list using list() function.
b_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for loop takes both list and range as input

In [17]:
for i in b:            
    print('i=',i)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [21]:
for i in b_list:            
    print('i=',i)

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9

In [19]:
for i in range(20):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [23]:
list(range(2,10)) #first value is included but last value in not included in the output

[2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for x in range(2,10):
    print (x,end=" ")

2 3 4 5 6 7 8 9

In [25]:
#How to skip values in range?
list(range(5,15,3)) #skipping 3 integers                #() after list indicates list() function which converts range to list

[5, 8, 11, 14]

In [26]:
for i in range(5,15,2):
    print(i)

5
7
9
11
13