In [1]:
import pandas as pd
import numpy as np

In [2]:
#You can give your own index names
ser1=pd.Series(data=[1,2,3,4],index=['CA','OR','CO','AZ'])

#You can ignore writing data or index parameter. Pandas will understand accordingly.
ser2=pd.Series([1,2,5,4],['CA','OR','NV','AZ'])

In [3]:
ser2

CA    1
OR    2
NV    5
AZ    4
dtype: int64

In [4]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

Indexing by name of the item or object(string identifier)

In [6]:
#Value for CA in ser1
ser1['CA']

1

In [7]:
#Value for Az in ser1
ser1['AZ']

4

In [8]:
#Value for NV in ser2
ser2['NV']

5

In [10]:
#You can also fetch elements by positional index
ser1[0]

1

In [11]:
ser1[3]

4

In [12]:
ser2[2]

5

In [13]:
#Slicing
ser1[1:4]

OR    2
CO    3
AZ    4
dtype: int64

Adding of two series

In [14]:
ser3=pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])
ser4=pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])
#Adding of two series
ser5=ser3+ser4

In [15]:
ser5

AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

Similarly you can multiply, substract and do other operations on it

In [16]:
ser5=ser3-ser4
ser5

AZ     NaN
CA     0.0
CO   -27.0
NV     5.0
OR     0.0
PA     NaN
dtype: float64

In [17]:
ser5=ser3*ser4
ser5

AZ     NaN
CA     1.0
CO    90.0
NV    50.0
OR     4.0
PA     NaN
dtype: float64

In [18]:
ser5=ser3/ser4
ser5

AZ    NaN
CA    1.0
CO    0.1
NV    2.0
OR    1.0
PA    NaN
dtype: float64